*,
*::before,
*::after {
  box-sizing: border-box; /* Ensures padding and border are included in the width and height */
}

body {
  margin: 0;
}
.row {
  display: flex;
  
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px; /* Adds some side padding for all screen sizes */
  padding-top: 43px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px; /* Adjusts padding for tablets */
    padding-top: 20px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 10px; /* Further adjusts padding for smaller screens */
    padding-top: 15px;
  }
}
.heading {
  margin-bottom: 32px;
}
.gai-button-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 768px) {
  .gai-button-wrapper {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Two columns for tablet-sized screens */
  }
}

@media (max-width: 480px) {
  .gai-button-wrapper {
    grid-template-columns: 1fr; /* One column for mobile screens */
  }
}
.gai-button {
  height: 96px;
  padding: 0 56px;
  border-radius: 4px;
  border: solid 2px #5bc8af;
  margin-right: 32px;
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .gai-button {
    padding: 0 20px; /* One column for mobile screens */
  }
}
.gai-button .Needs-Assesment {
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: center;
  color: #333;
}

/*-------------------*/

.heading {
  font-size: 2rem; /* Adjust the size as needed */
  font-weight: 900; /* Bold weight for the filled text */
  color: #333; /* Main color for filled text */
  display: flex;
  align-items: center;
  gap: 8px; /* Adds spacing between "WE" and the rest of the text */
}

.outline-text {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.para-one,
.para-two,
.para-three {
  margin-right: 32px;
  margin-bottom: 32px;
}

.The-methodology-framework-proposed-by-Arskey-and-OMalley-and-further-developed-by-Levac-et-al-was {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #333;
}
.Loneliness-and-social-isolation-are-growing-public-health-concerns-in-our-aging-society-Whilst-thes {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #333;
}
.Interventions-should-focus-on-older-adults-desire-for-connectedness-participation-and-independence {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #333;
}
.Interventions-should-focus-on-older-adults-desire-for-connectedness-participation-and-independence
  .text-style-1 {
  font-weight: 800;
}
.paragraphs-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
/*-------------------*/
.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}
.carousel-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
}

.carousel-image {
  object-fit: contain;
  width: 270px;
  height: 270px;
  margin-right: 36px;
}
.carousel-image img {
  width: 100%;
  height: 100%;
}
.carousel-text-wrapper {
  padding: 38px 65px 45px;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.12);
  background-color: #194d44;
  height: 270px;
  width: 675px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.Abbie-Harvey {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  margin-bottom: 21px;
}
.I-have-been-caring-for-my-mom-dad-off-and-on-for-about-10-years-now-and-I-know-the-importance-of {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}
.carousel-one,
.carousel-two,
.carousel-three {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.name-text-wrapper {
  position: relative;
  top: -15px;
}
.invalid-image {
  display: flex;
  justify-content: flex-end;
}
.dot {
  width: 16px;
  height: 16px;
  flex-grow: 0;
  margin: 0 0 0 36px;
  background-color: #eaeaea;
  border-radius: 50%;
}

.carousel-dots {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.arrow-left-icon {
  margin-right: 36px;
}
.arrow-right-icon {
  margin-left: 36px;
}

.dot {
  width: 16px;
  height: 16px;
  margin: 0 8px;
  background-color: #eaeaea;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
}

.dot.active-dot {
  opacity: 1;
  background-color: #5bc8af; /* Adjusted color to highlight the active dot */
}

/*-------------------*/
.we-understand-images {
  display: flex;
  flex-direction: row;
  gap: 36px;
  align-items: center;
  margin-bottom: 64px;
  justify-content: space-between;
}
.we-understand-image {
  width: 371px;
  height: 180px;
  object-fit: contain;
}
.we-understand-image img {
  width: 100%;
  height: 100%;
}
.WE-UNDERSTAND {
  width: 344px;
  height: 46px;
  -webkit-text-stroke: 1px #333;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: left;
}
.we-understand-para-one,
.we-understand-para-two,
.we-understand-para-three span {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #333;
}
.we-understand-para {
  display: flex;
  gap: 36px;
  margin-top: 32px;
}
.success-rate-gai-button {
  width: 371px;
  height: 52px;
  padding: 10px 89px 9px 90px;
  border-radius: 4px;
  border: solid 2px #5bc8af;
}
.text-success-rate {
  width: 167px;
  height: 28px;
  flex-grow: 0;
  margin: 0 8px 0 0;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #5bc8af;
}
.success-rate-button-wrapper {
  margin-top: 10px;
}
.we-understand-container,
.carousel-container {
  margin-bottom: 100px;
}
/* .we-understand-container{
  background: #F5F5F5;
} */

/*-------------------*/

.curved-section {
  width: 755px;
  height: 648px;
  color: white;
  padding: 40px;
  font-family: Arial, sans-serif;
  position: relative;

}

.curved-section h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.curved-section .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
}

.curved-section .content .item {
  display: flex;
  align-items: flex-start;
}

.curved-section .content .item .icon {
  color: #9fdbc0;
  font-size: 24px;
  margin-right: 10px;
}

.curved-section .content .item .text {
  display: flex;
  flex-direction: column;
}

.curved-section .content .item .text .title {
  font-weight: bold;
  font-size: 20px;
}

.curved-section .content .item .text .description {
  font-weight: normal;
  font-size: 16px;
  color: #d1e3dd;
}
.video-container-heading {
  width: 444px;
  height: 52px;
  flex-grow: 0;
  margin: 0 28px 48px 0;
  -webkit-text-stroke: 1px #fff;
  font-family: Montserrat;
  font-size: 44px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
}
.watch-text {
  font-family: Montserrat;
  font-size: 44px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  margin-right: 12px;
}
.video-content {
  display: flex;
  align-items: flex-start;
  gap: 24.4px;
}
.video-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.video-title {
  width: 430px;
  flex-grow: 0;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.video-description {
  width: 430px;
  flex-grow: 0;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
}
.curved-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 75px;
}
.video-section {
  width: 749px;
  height: 648px;
  object-fit: contain;
}
.video-section img {
  width: 100%;
  height: 100%;
}

/* Wrapper for the content to align both sections side by side */
.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Curved section styling */
.curved-section {
  background: url('./assets/curved-background.svg') no-repeat;
  background-size: cover;
  color: white;
  padding: 40px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 75px;
  position: relative;
  z-index: 1;
}

/* Title styling */
.watch-the-video-title {
  display: flex;
}

/* Video section on the right */
.video-section {
  width: 749px;
  height: 648px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 58px;
}

.video-section img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire section */
  display: block; /* Removes any unwanted spacing */
}

.play-button {
  width: 100px; /* Size of the play button */
  height: 100px;
  background-image: url('assets/play-not-hover.svg'); /* Path to the passive SVG */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute; /* Centers the button over the image */
  cursor: pointer;
  transition: transform 0.2s ease; /* Smooth transition for hover effect */
}
/* Hover and pressed state */
.play-button:hover {
  background-image: url('assets/play-hover.svg'); /* Path to the hover/pressed SVG */
  transform: scale(1.1); /* Slightly scale up on hover */
}
.curved-section {
  z-index: 1000;
}

/*-------------------*/
.footer-container {
  height: 100px;
  padding: 38px 127px 38px 128px;
  background-color: #eaeaea;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.-Get-an-Intervention-Inc-All-rights-reserved {
  width: 371px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #757575;
}
.Privacy-Policy-Terms-of-use-Site-Map {
  width: 283px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: right;
  color: #757575;
}
/*-------------------*/
/*-------------------*/

.green-wrapper {
  padding-top: 20px;
  height: 650px;
  /* background-color: linear-gradient(180deg, #194D41 0%, rgba(25, 77, 65, 0.70) 100%);
  background: url(./images/image2.png) lightgray 50% / cover no-repeat;
  z-index: 1; */


  /* Fallback background color */
  /* Background image URL */
  background-size: cover;

  background-image: url('./assets/image2.png');
  /* Replace with your background image URL */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;


}

.green-wrapper::before {
  content: '';
  position: absolute;
  width:100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #194D41 0%, rgba(25, 77, 65, 0.70) 100%);
  /* Overlay color with opacity */
  z-index: 1;
}

.header {
  display: flex;


  position: relative;
  z-index: 2;

  color: white;

}

/* .image {
  width: 1280px;
  height: 650px;
  flex-shrink: 0;
} */

.logo {
  display: flex;
  width: 226.094px;
  height: 35px;
  flex-shrink: 0;
  fill: #B3E5DA;
  padding-left:128px;
  padding-top:20.5px;
  padding-right:1020px;
 
  
 
}

.logoimage {
  width: 226.094px;
  height: 35px;
  
}


.navigation-wrapper {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-home {
  display: flex;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 41px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.nav-about {
  display: flex;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 41px;


}

.nav-contact {
  display: flex;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 41px;

}

.navigation-contact {
  display: flex;
  justify-content: space-between;

}

.nav-info {
  display: flex;
  color: #fbfbfb;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 41px;
}

.number {
  color: #5BC8AF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 41px;
}

.text-contact-wrapper {
  display: flex;
  
 
  position: relative;
  z-index: 2;
  color: white;
  padding: 20px;
  

}

.text-wrapper {

  display: flex;
  flex-direction: column;

}

/*Text Header*/


.heading {

  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #FFF;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  /* 112.5% */
}

.text-transparency {
  color: white;
  text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  margin-bottom: 0 !important;
}

.text-intervention {
  color: #FFF;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  margin-top: 2px;
}

.text-header-info {
  margin: 0;
  color: #FFF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-left: 4px;
  margin-bottom: 40px;
}

/*Contact Form*/
.contact-form {
  display: flex;
  justify-content: flex-end;
  
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 472px;
  height: 449px;
  flex-shrink: 0;
  border-radius: 12px;
  background: linear-gradient(180deg, #2A7D6C 0%, rgba(62, 105, 96, 0.62) 100%);
  gap: 20px;
}

.contact-title {
  display: flex;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  justify-content: center;
}


.contact-fullname {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}



.contact-fname,
.contact-lname {
  display: flex;
  width: 200px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 2px;
}

.contact-info {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.contact-mail,
.contact-company {
  display: flex;
  width: 200px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 2px;
}

.fname,
.lname,
.mail,
.company {
  background: transparent;
  width: 200px;
  height: 48px;
  color: white;
  border: 1px solid rgb(255, 255, 255);

}

input::placeholder {
  color: white;
  opacity: 0.5;
  padding-left:16px ;
  padding-top: 14px;
  padding-bottom: 14px;
}

.contact-country {
  display: flex;
  width: 416px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.70);

}

select {
  background-color: transparent;
  width: 416px;
  height: 48px;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  color: rgba(255, 255, 255, 0.709);
  background-color: rgba(62, 105, 96, 0.62);
  padding-left:16px ;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 16px;


}

option {
  color: black;
  background-color: rgba(62, 105, 96, 0.62);
  background: transparent;
}



.contact-submit {
  width: 221px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #5BC8AF;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.08);
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.submitimage {
  display: flex;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.button {
  background-color: transparent;
  border: none;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;

}

@media screen and (max-width: 760px) {
  .text-contact-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;

  }
}
.hero-section {
  margin-bottom: 78px;
}